Boomerang/old
Boomerang/raw_data
Boomerang/analysis/data
Boomerang/analysis/mord
Boomerang/analysis/experiment
Boomerang/analysis/old

eggtoss/old
eggtoss/raw_data
eggtoss/analysis/data
eggtoss/analysis/old
eggtoss/analysis/mord
eggtoss/analysis/experiment

*.pyc
*.pkl
*.pickle
*.pdf
*.png
*.ai
*/pycache/*